*{
    font-family: 'Asap', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Flamenco', cursive;
}

.topbar{
    background-color: rgba(0, 0, 0, 0.555);
}

ul li{
    display: flex;
    justify-content: space-between;
    display: inline-block;
    list-style: none;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}  

.topbar ul li{
    display: inline;
    list-style: none;
}

nav.topbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav.topbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
}

body{
    margin: 0;
}

/* HEADER */
header{
    background: url(../img/bg-banner.png);
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div h1{
    color: white;
    text-transform: uppercase;
}

header div p{
    color: white;
}

.btn-experimentar{
    display: block;
    background-color: rgba(247, 232, 29, 0.918);
    border-radius: 10px;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(231, 170, 39);
    margin-top: 20px;
    max-width: 200px;
    margin: 0 auto;
}

/* SOBRE */
.sobre > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.desc-sobre{
    max-width: 40%;
    margin-left: 45px;
} 


/* PASSO-A-PASSO */
.passo-a-passo h2{
    display: block;
    text-align: center;
    padding-top: 50px;
} 

.desc-passo{
    max-width: 25%;
    margin-left: 70px;
    text-align: center;
}

.passo-a-passo > div{
    display: flex;
    justify-content: center;
    align-items: center;
} 


/* SERVICOS */
.servicos{
    background: url(../img/bg-servicos.png);
    display: block;
    text-align: center;
    padding: 25px 0 70px 0;
    color: white;
}

.servicos h2{
    color: gray;
}

.servicos > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-servicos{
    max-width: 40%;
    margin-left: 70px;
    background-color: rgb(48, 166, 235);
    width: 350px;
    height: 410px;
    border-radius: 15px;
    
}

/* CURIOSIDADES */
.curiosidades{
    background: url(../img/bg-numeros.png);
    display: block;
    text-align: center;
    padding: 0 0 30px 0;
    color: white;
}

.curiosidades span{
    color: rgb(231, 170, 39);
    text-transform: uppercase;
    font-weight: bold;

}

.curiosidades > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-curiosidades span{
    font-size: 20px;
}

.card-curiosidades{
    display: inline-block;
    max-width: 25%;
    margin-left: 70px;
    text-align: center;
}

.btn-servicos{
    display: block;
    background-color: rgba(247, 232, 29, 0.918);
    border-radius: 10px;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(231, 170, 39);
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* CONTATO */
.contato{
    display: block;
    text-align: center;
}

.contato > div{
    width: 400px;
    margin: 0 auto;
}

.contato div form div > label, input, textarea{
    label: block;
    width: 100%;
}

.nome-email{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NEWSLETTER */
.newsletter{
    background: rgb(248, 188, 59);
    display: block;
    text-align: center;
    padding: 0 0 40px 0;
}

.btn-comecar-agora{
    display: inline;
    background-color: rgb(243, 57, 57);
    border-radius: 10px;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: white;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* FOOTER */
.footer{
    background: rgb(73, 72, 68);
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
}

.footer > div{
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer ul li{
    display: flex;
    max-width: 75%;
    margin-left: 70px;
    text-align: center;
}

.footer ul li a{
    text-decoration: none;
    color: white;
}



/* MEDIA QUERY */

@media (max-width: 360px){
    .topbar ul li{
        display: block;
    }

    .sobre > div{
        display: block;
        margin: 0 auto;
        width: 60%;

    }

    body{
        margin: 0;
    }
    
    /* HEADER */
    header{
        display: block
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }


    /* PASSO-A-PASSO */
    .passo-a-passo > div{
        display: block;
    }

    /* SERVICOS */
    .servicos > div{
        display: block;
    }

    .card-servicos{
        max-width: 90%;
    }

    /* CURIOSIDADES */
    .curiosidades > div{
        background: none;
        display: block;
    }

    /* NEWSLETTER */
    .btn-comecar-agora{
        display: block;
    }

    /* FOOTER */
    .footer > div{
        display: block;
    }
    
   }  
    

    
@media (max-width: 768px) {

}